table{
	
	text-align: left;
	padding: 20px;
	
	border-style: dashed;
	border-color: #00ffff;
}
body{
	text-align: center;
	
	margin:40px;
	color: #035652;
	font-style: cursive;
	font-size: 20px;
	padding: 40px;
}
h4{
	color: #0BECE2;
}
h1{
color: #0BECE2;

}